[Unit]
Description=OpcUA Passerver Service
After=network.target default.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/root/opcua/start_server.sh

[Install]
WantedBy=multi-user.target
